:root {
    --text-color: #0A0608;
    --background-color: #FDFCFC;
    --primary-color: #864B6A;
    --secondary-color: #DCC1CF;
    --tertiary-color: #E8E0E4;

    --header: 32px;
    --header-font: 32px;
    --primary-font: 16px;
    --secondary-font: 20px;
    --tertiary-font: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--primary-color);
    color: var(--text-color);
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

.container-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    min-height: 80%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 60px;
    padding: 20px;
}


.login-container {
    width: 80%;
    max-width: 400px;

}

.login-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

h1 {
    font-size: 40px;
}

h3 {
    font-size: var(--secondary-font);
    color: var(--primary-color);
    opacity: .8;
    margin-bottom: 20px;
    font-weight: 600;
}

.textbox {
    padding: 10px;
    border-radius: 10px;
    border: var(--primary-color) 2px solid;
    background-color: transparent;
    outline: none;

}

.textbox:focus {
    border: var(--primary-color) 3px solid;
}

.textbox:active {
    border: var(--primary-color) 3px solid;
}

a .login-btn {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    background-color: var(--primary-color);
    border: none;
    color: var(--background-color);
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;

}

a .login-btn:hover {
    background-color: var(--primary-color);
    opacity: .9;
}


form div {
    display: flex;
    justify-content: center;
    gap: 5px;
}

form div span:last-child {
    color: var(--primary-color);
    font-weight: bolder;
}

.design-container {
    display: none;
}

@media only screen and (min-width: 780px) {
    .container {
        width: 60%;
    }


}

@media only screen and (min-width: 1200px) {
    .container {
        width: 60%;
    }

    .design-container {
        display: block;

    }

    .design-container img {

        height: 420px;
    }
}